img {
    max-width: 50%;
  }
  
  .loader {
    display: none;
  }
  
  .error {
    display: none;
  }
  
  .breed-select {
    visibility: hidden;
  }


  .cat-info {
    padding: 30px;
    display: flex;
    gap: 20px;
  }




